<?xml version="1.0" encoding="utf-8"?>
<Media Key="bce73db0-3a38-463e-b2b5-d0164c642ad1" Alias="6T9wwb4d6kj81" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/T9wwb4d6kj81</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2022-11-02T11:04:01</CreateDate>
    <NodeName Default="6T9wwb4d6kj81" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/wy4pppby/6t9wwb4d6kj81.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>