<?xml version="1.0" encoding="utf-8"?>
<Content Key="67eba524-06d7-47d1-b326-cfeba421a95a" Alias="Generic Page 2" Level="2">
  <Info>
    <Parent Key="18dfb02a-cc23-4b94-a704-d59ac28e82dc">Home</Parent>
    <Path>/Home/GenericPage2</Path>
    <Trashed>false</Trashed>
    <ContentType>genericPage</ContentType>
    <CreateDate>2022-11-01T14:05:31</CreateDate>
    <NodeName Default="Generic Page 2" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="3ca60ccb-2778-47f1-bfee-02fa117a1f93">GenericPage</Template>
  </Info>
  <Properties>
    <body>
      <Value><![CDATA[<p>This is some body text. This is some body text. This is some body text. This is some body text. This is some body text. This is some body text. This is some body text. This is some body text. </p>
<p> </p>
<p>This is some body text. This is some body text. This is some body text. This is some body text. This is some body text. This is some body text. This is some body text. This is some body text. This is some body text. This is some body text. This is some body text. This is some body text. This is some body text. This is some body text. This is some body text. This is some body text. This is some body text. This is some body text. This is some body text. This is some body text. This is some body text. This is some body text. This is some body text. This is some body text. This is some body text. This is some body text. This is some body text. This is some body text. This is some body text. This is some body text. This is some body text. This is some body text.</p>]]></Value>
    </body>
    <includeInMainMenu>
      <Value><![CDATA[1]]></Value>
    </includeInMainMenu>
    <mainMenuName>
      <Value><![CDATA[Page 2]]></Value>
    </mainMenuName>
    <title>
      <Value><![CDATA[Generic Page 2]]></Value>
    </title>
  </Properties>
</Content>