<?xml version="1.0" encoding="utf-8"?>
<Content Key="37968fff-02c9-43c9-a84f-fbd4709ae250" Alias="Generic Child Page 1" Level="3">
  <Info>
    <Parent Key="877af762-2d5f-48fb-81ad-c5be40560ec4">Generic Page 3</Parent>
    <Path>/Home/GenericPage3/GenericChildPage1</Path>
    <Trashed>false</Trashed>
    <ContentType>genericPage</ContentType>
    <CreateDate>2022-11-01T14:15:49</CreateDate>
    <NodeName Default="Generic Child Page 1" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="3ca60ccb-2778-47f1-bfee-02fa117a1f93">GenericPage</Template>
  </Info>
  <Properties>
    <body>
      <Value><![CDATA[<p>This is some body text. This is some body text. This is some body text. This is some body text. This is some body text. This is some body text. This is some body text. This is some body text. </p>
<p> </p>
<p>This is some body text. This is some body text. This is some body text. This is some body text. This is some body text. This is some body text. This is some body text. This is some body text. This is some body text. This is some body text. This is some body text. This is some body text. This is some body text. This is some body text. This is some body text. This is some body text. This is some body text. This is some body text. This is some body text. This is some body text. This is some body text. This is some body text. This is some body text. This is some body text. This is some body text. This is some body text. This is some body text. This is some body text. This is some body text. This is some body text. This is some body text. This is some body text.</p>]]></Value>
    </body>
    <includeInMainMenu>
      <Value><![CDATA[1]]></Value>
    </includeInMainMenu>
    <mainMenuName>
      <Value><![CDATA[Child Page 1]]></Value>
    </mainMenuName>
    <title>
      <Value><![CDATA[Generic Child Page 1]]></Value>
    </title>
  </Properties>
</Content>