<?xml version="1.0" encoding="utf-8"?>
<Content Key="18dfb02a-cc23-4b94-a704-d59ac28e82dc" Alias="Home" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Home</Path>
    <Trashed>false</Trashed>
    <ContentType>homePage</ContentType>
    <CreateDate>2022-11-01T11:02:38</CreateDate>
    <NodeName Default="Home" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="643abd9b-44c9-4bd7-9aac-96ff36e79b7b">Home</Template>
  </Info>
  <Properties>
    <cards>
      <Value><![CDATA[[
  {
    "key": "513a648a-8314-415a-a1f4-70a24352113b",
    "name": "Card -- Sample Card",
    "ncContentTypeAlias": "card",
    "PropType": null,
    "label": "Sample Card",
    "image": "[\n  {\n    \"key\": \"4524b387-b957-49a7-b94d-8b069b12c8dc\",\n    \"mediaKey\": \"bce73db0-3a38-463e-b2b5-d0164c642ad1\"\n  }\n]",
    "title": "A Sample Card",
    "body": "<p>This is the body for the sample card. It has <em>some</em> <strong>formatting</strong>! This is the body for the sample card. It has <em>some</em> <strong>formatting</strong>! This is the body for the sample card. It has <em>some</em> <strong>formatting</strong>!</p>",
    "buttons": "[{\"name\":\"Button\",\"udi\":\"umb://document/8721c75d8e3d4d80b919881bd1319779\"},{\"name\":\"Button\",\"udi\":\"umb://document/67eba52406d747d1b326cfeba421a95a\"}]"
  },
  {
    "key": "f29c274f-fffc-4906-ab1a-519b839bfcd4",
    "name": "Card -- Sample Card",
    "ncContentTypeAlias": "card",
    "PropType": null,
    "label": "Sample Card",
    "image": "[\n  {\n    \"key\": \"4524b387-b957-49a7-b94d-8b069b12c8dc\",\n    \"mediaKey\": \"bce73db0-3a38-463e-b2b5-d0164c642ad1\"\n  }\n]",
    "title": "A Sample Card",
    "body": "<p>This is the body for the sample card. It has <em>some</em> <strong>formatting</strong>! This is the body for the sample card. It has <em>some</em> <strong>formatting</strong>! This is the body for the sample card. It has <em>some</em> <strong>formatting</strong>!</p>",
    "buttons": "[{\"name\":\"Button\",\"udi\":\"umb://document/8721c75d8e3d4d80b919881bd1319779\"},{\"name\":\"Button\",\"udi\":\"umb://document/67eba52406d747d1b326cfeba421a95a\"}]"
  },
  {
    "key": "3ba8888f-d6c8-4973-adfc-518587b558f3",
    "name": "Card -- Sample Card",
    "ncContentTypeAlias": "card",
    "PropType": null,
    "label": "Sample Card",
    "image": "[\n  {\n    \"key\": \"4524b387-b957-49a7-b94d-8b069b12c8dc\",\n    \"mediaKey\": \"bce73db0-3a38-463e-b2b5-d0164c642ad1\"\n  }\n]",
    "title": "A Sample Card",
    "body": "<p>This is the body for the sample card. It has <em>some</em> <strong>formatting</strong>! This is the body for the sample card. It has <em>some</em> <strong>formatting</strong>! This is the body for the sample card. It has <em>some</em> <strong>formatting</strong>!</p>",
    "buttons": "[{\"name\":\"Button\",\"udi\":\"umb://document/8721c75d8e3d4d80b919881bd1319779\"},{\"name\":\"Button\",\"udi\":\"umb://document/67eba52406d747d1b326cfeba421a95a\"}]"
  }
]]]></Value>
    </cards>
    <jumbotronBody>
      <Value><![CDATA[This is a sample Umbraco Site. This is a sample Umbraco Site. This is a sample Umbraco Site. This is a sample Umbraco Site. This is a sample Umbraco Site. This is a sample Umbraco Site. This is a sample Umbraco Site.]]></Value>
    </jumbotronBody>
    <jumbotronButton>
      <Value><![CDATA[[
  {
    "name": "A Link Somewhere",
    "url": "https://awh.net/insights"
  }
]]]></Value>
    </jumbotronButton>
    <jumbotronTitle>
      <Value><![CDATA[Umbraco Simple Sample!]]></Value>
    </jumbotronTitle>
  </Properties>
</Content>