<?xml version="1.0" encoding="utf-8"?>
<DataType Key="cd47acc3-1595-498f-a6e7-50967952973d" Alias="Cards" Level="1">
  <Info>
    <Name>Cards</Name>
    <EditorAlias>Umbraco.NestedContent</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "ConfirmDeletes": true,
  "ContentTypes": [
    {
      "nameTemplate": "Card -- {{label}}",
      "ncAlias": "card",
      "ncTabAlias": "Content"
    }
  ],
  "ExpandsOnLoad": false,
  "HideLabel": false,
  "MaxItems": null,
  "MinItems": null,
  "ShowIcons": true
}]]></Config>
</DataType>